<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KrediPuan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="KrediPuan.Properties.Settings.Yonavm_Web_SiparisConnectionString"
      connectionString="Data Source=192.168.4.12;Initial Catalog=Yonavm_Web_Siparis;Persist Security Info=True;User ID=sa;Password=ebrarsudenur"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <KrediPuan.Properties.Settings>
      <setting name="connectionstring" serializeAs="String">
        <value />
      </setting>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpPass" serializeAs="String">
        <value />
      </setting>
      <setting name="connectionstring2" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="SatışOnayGiris" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışOnaylama" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışRedEtme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışOnayNotu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışOnayYazdırma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışAraştırmaTalebiOluşturma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SatışİstişareOluşturma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SOCODE" serializeAs="String">
        <value />
      </setting>
      <setting name="SOADMIN" serializeAs="String">
        <value />
      </setting>
    </KrediPuan.Properties.Settings>
  </userSettings>
</configuration>