<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VolantMusteriDuzel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <VolantMusteriDuzel.Properties.Settings>
      <setting name="connectionstring" serializeAs="String">
        <value>Server=192.168.4.24;Database=VDB_YON01;User Id=sa;Password=MagicUser2023!;</value>
      </setting>
      <setting name="connectionstring2" serializeAs="String">
        <value>Server=192.168.4.24;Database=MDE_GENEL;User Id=sa;Password=MagicUser2023!;</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpPass" serializeAs="String">
        <value />
      </setting>
      <setting name="SmsToken" serializeAs="String">
        <value />
      </setting>
      <setting name="SmsUrl" serializeAs="String">
        <value>https://restapi.ttmesaj.com/</value>
      </setting>
      <setting name="SmsUser" serializeAs="String">
        <value>yon.avm</value>
      </setting>
      <setting name="SmsPassword" serializeAs="String">
        <value>Y9N2A4V7</value>
      </setting>
      <setting name="EntegrefSecretPhase" serializeAs="String">
        <value />
      </setting>
      <setting name="YeniGun" serializeAs="String">
        <value />
      </setting>
      <setting name="EntegrefAIPToken" serializeAs="String">
        <value />
      </setting>
      <setting name="VKN" serializeAs="String">
        <value>6200080458</value>
      </setting>
    </VolantMusteriDuzel.Properties.Settings>
  </userSettings>
</configuration>